.btn-primary{
    background: #3D85C6;
  }

  button{
    margin: 10px;
 }
 table {
    border-top: 4px solid #3D85C6 ;
}


input[type='checkbox'] {
    margin: 10px;
}

.selectedRow{
    background: #17a2b8!important;
}